<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Emp</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}" />
</head>
<body>
<h2>Add Emp</h2>
<form th:action="@{/emp/add}" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="empName" class="col-sm-2 control-label">EmpName</label>
        <div class="col-sm-10">
            <input type="text" name="empName" class="form-control" id="empName" placeholder="empName" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Gender</label>
        <div class="col-sm-10">
            <lebel>
                <input type="radio" name="gender" value="男" placeholder="empName" required> Male
            </lebel>
            <label>
                <input type="radio" name="gender" value="女" placeholder="empName" required> Female
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail1" class="col-sm-2 control-label">出生年月:</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="inputEmail1" name="birthday" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail4" class="col-sm-2 control-label">所属部门:</label>
        <div class="col-sm-10">
            <select class="form-control" id="inputEmail4" name="deptid" required>
                <option th:each="item: ${depts}" th:value="${item.deptId}" th:text="${item.deptName}"></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail5" class="col-sm-2 control-label">员工职位:</label>
        <div class="col-sm-10">
            <input type="radio" id="inputEmail5" name="job" value="0">普通员工
            <input type="radio"  name="job" value="1">部门经理
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info">确定</button>
        </div>
    </div>
</form>
<script src="/webjars/jquery/3.2.1/dist/jquery.js"></script>
</body>
</html>