<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dept List Page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}" />
    <style>
        .table {
            width: 900px;
        }
    </style>
</head>
<body>
<h2>Dept List</h2>
<form class="form-inline" method="post" th:action="@{/dept/showList}">
    <div class="form-group">
        <label for="exampleInputName2">部门编号：</label>
        <input type="text" class="form-control" id="exampleInputName2" name="deptId" th:field="${query.deptId}">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail2">部门名称：</label>
        <input type="text" class="form-control" id="exampleInputEmail2" name="deptName" th:field="${query.deptName}">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail3">部门状态：</label>
        <select class="form-control" id="exampleInputEmail3" name="status" th:field="${query.status}">
            <option value="">请选择</option>
            <option value="0">已撤除</option>
            <option value="1">使用中</option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">查询</button>
        <a href="/dept/preAdd" class="btn btn-success">新设部门</a>
</form>
<table class="table table-bordered table-hover">
    <thread>
        <tr>
            <th>No.</th>
            <th>DeptId</th>
            <th>DeptName</th>
            <th>status</th>
            <th>operators</th>
        </tr>
    </thread>
    <tbody>
    <tr th:each="item, status : ${depts}">
        <td th:text="${status.count}"></td>
        <td th:text="${item.deptId}"></td>
        <td>
            <a th:href="'/dept/showInfo/' + ${item.deptId}" th:text="${item.deptName}"></a>
        </td>
        <td th:text="${item.status} == 1 ? 'used' : 'removed'"></td>
        <td>
            <a th:href="'/dept/preUpdate/' + ${item.deptId}" class="btn btn-info">Edit</a>
            <a th:onclick="|del(${item.status != 1 ? null : item.deptId})|" class="btn btn-danger" th:disabled="${item.status != 1}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<script src="/webjars/jquery/3.2.1/dist/jquery.js"></script>
<script type="text/javascript">
    function del(deptId) {
        if(deptId == null) return;
        console.log(deptId);
        if(!confirm(`Yes for ${deptId}?`)) {
            alert('canceled');
            return ;
        }
        $.get('/dept/disabled/' + deptId,str=>{
            if(str=="success")location.reload();
            alert(str);
        });
    }
</script>
</body>
</html>