<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel 服务</title>

    <link rel="stylesheet" th:href="@{/webjars/material-design-lite/1.3.0/material.min.css}"/>
    <!-- Square card -->
    <style>
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url(/static/mdl/icons.woff2) format('woff2'),
            url(/static/mdl/icons.woff) format('woff');
        }

        body {
            height: 100%;
            width: 100%;
        }

        .wrapper {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    </style>
</head>
<body>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"
                  th:text="'Hotel 服务 - '+${curUser.name} + '(' + ${curUser.roleDescCN} + ')'"></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">

            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Hotel 服务</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/front/order">预约</a>
            <a class="mdl-navigation__link" href="/front/">全部预约/入住记录</a>
            <a class="mdl-navigation__link" href="/front/userManage">账号管理</a>
            <a class="mdl-navigation__link" href="/front/showIn">查看当天未入住记录</a>
            <a class="mdl-navigation__link" href="/front/showOut">查看当天未退房记录</a>
            <a class="mdl-navigation__link" href="/front/showRoom">查看所有房间</a>
            <a class="mdl-navigation__link" href="/user/logout">注销</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content wrapper">

            <div th:switch="${tab}">
                <h2 th:case="0">欢迎！请打开左侧菜单栏选择具体服务。</h2>
                <div th:case="1">

                    <form style="padding: 20px" class="demo-card-square mdl-card mdl-shadow--2dp" method="post"
                          th:action="@{/front/addOrder}" onsubmit="return addOrder(this)">

                        <h5>房间类型</h5>
                        <div style="flex-direction: column" class="wrapper">
                            <p th:each="item,status : ${roomTypes}">
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect"
                                       th:for="'option-'+${status.count}">
                                    <input type="radio" th:id="'option-'+${status.count}" class="mdl-radio__button"
                                           name="roomType" th:value="${item}" required>
                                    <span th:text="${item}" class="mdl-radio__label"></span>
                                </label>
                            </p>
                        </div>


                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <h5>入住日期</h5>
                            <input name="startDate" class="mdl-textfield__input" type="date" id="sample2" required>
                            <label class="mdl-textfield__label" for="sample2"></label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <h5>退住日期</h5>
                            <input name="endDate" class="mdl-textfield__input" type="date" id="sample3" required>
                            <label class="mdl-textfield__label" for="sample3"></label>
                        </div>

                        <!-- Primary-colored flat button -->
                        <div class="mdl-card__actions " style="display: flex; justify-content: center">
                            <button type="submit"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                                预 &nbsp; 约
                            </button>
                        </div>
                    </form>


                </div>

                <div th:case="23">

                    <form style="padding: 20px" class="demo-card-square mdl-card mdl-shadow--2dp" method="post"
                          th:action="@{/front/addRoom}" onsubmit="return addRoom(this)">

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <h5>房间号</h5>
                            <input name="name" class="mdl-textfield__input" type="text" id="sample2" required>
                            <label class="mdl-textfield__label" for="sample2"></label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <h5>房间类型</h5>
                            <input name="type" class="mdl-textfield__input" type="text" id="sample3" required>
                            <label class="mdl-textfield__label" for="sample3"></label>
                        </div>

                        <!-- Primary-colored flat button -->
                        <div class="mdl-card__actions " style="display: flex; justify-content: center">
                            <button type="submit"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                                添 &nbsp; 加
                            </button>
                        </div>
                    </form>

                    <script type="text/javascript">
                        function addRoom(th) {
                            $.post('/front/addRoom', $(th).serialize(), function (e) {
                                if(e=="success") {
                                    showSnackBar("添加成功");
                                    setTimeout(()=>location.href="/front/showRoom", 1000);
                                    return;
                                }
                                showSnackBar(e);
                            });
                            return false
                        }
                    </script>
                </div>

                <div th:case="2">
                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>房间类型</th>
                            <th>房间号</th>
                            <th>入住时间</th>
                            <th>退房时间</th>
                            <th>当前状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item,status :${orderList}">
                            <td th:text="${status.count}"></td>
                            <td th:text="${item.user.name}"></td>
                            <td th:text="${item.room.type}"></td>
                            <td th:text="${item.room.name}"></td>
                            <td th:text="${#dates.format(item.getStartDate(),'yyyy-MM-dd')}"></td>
                            <td th:text="${#dates.format(item.getEndDate(),'yyyy-MM-dd')}"></td>
                            <td th:text="${item.statusDesc}"></td>
                            <td>
                                <button th:if="${item.status != 1}"
                                        class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect"
                                        th:onclick="|location.href='/front/occupy/'+(${item.getId()})|">查看入住信息
                                </button>
                                <button th:if="${item.status == 1}"
                                        class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect"
                                        th:onclick="|removeOrder(${item.getId()})|">取消预约
                                </button>
                                <a th:if="${item.status == 0}"
                                   class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect"
                                   th:href="@{'/front/extendOrder/'+${item.id}}">续约</a>
                                <button th:if="${item.status == 0}"
                                        class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect"
                                        th:onclick="|toGoOut(${item.getId()})|">退房
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <script type="text/javascript">
                        function toGoOut(id) {
                            $.post('/front/out', {
                                id: id
                            }, function (e) {
                                if (e == "success") {
                                    showSnackBar("成功退房");
                                }
                                showSnackBar(e);
                                setTimeout(() => {
                                    location.reload();
                                }, 1000);
                            });
                        }
                    </script>
                </div>
                <div th:case="14">
                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>身份证号</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item,status :${occupy}">
                            <td th:text="${status.count}"></td>
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.certId}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:case="13">
                    <div>
                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                            <tr>
                                <th>姓名</th>
                                <th>身份证号</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="js-all">
                            <tr>
                                <td>
                                    <span class="mdl-textfield mdl-js-textfield">
                                        <input id="js-name" th:value="${order.user.name}"
                                               class="mdl-textfield__input" type="text">
                                    </span>
                                </td>
                                <td>
                                    <span class="mdl-textfield mdl-js-textfield">
                                        <input id="js-certId" class="mdl-textfield__input" type="text">
                                    </span>
                                </td>
                                <td>
                                    <button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect"
                                            onclick="toAdd()">添加
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p style="text-align: right; padding-top: 20px">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"
                                    onclick="toSubmit()">提交
                            </button>
                        </p>
                    </div>
                    <script type="text/javascript">
                        let list = [];

                        function toAdd() {
                            let name = document.getElementById("js-name").value;
                            let id = document.getElementById("js-certId").value;
                            document.getElementById("js-name").value = '';
                            document.getElementById("js-certId").value = '';
                            list.push([name, id]);
                            let newTr = document.createElement("tr");
                            let td = document.createElement('td');
                            td.innerText = name;
                            newTr.appendChild(td);
                            td = document.createElement('td');
                            td.innerText = id;
                            newTr.appendChild(td);
                            td = document.createElement('td');
                            let button = document.createElement("button");
                            button.className = 'mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect';
                            button.innerText = "删除";
                            td.appendChild(button);
                            newTr.appendChild(td);
                            document.getElementById("js-all").appendChild(newTr);
                            componentHandler.upgradeElement(button);
                            button.onclick = function () {
                                for (let i = 0; i < list.length; i++) {
                                    if (list[i][0] === name && list[i][1] === id) {
                                        list.splice(i, 1);
                                        break;
                                    }
                                }
                                document.getElementById("js-all").removeChild(newTr);
                            }
                        }

                        function toSubmit() {
                            $.post('', {
                                name: list.map(e => e[0]),
                                certId: list.map(e => e[1])
                            }, function (e) {
                                if (e == "success") {
                                    showSnackBar("入住成功");
                                    setTimeout(() => {
                                        location.href = "/front/showIn"
                                    }, 1000);
                                    return;
                                }
                                showSnackBar(e);
                            });
                        }
                    </script>
                </div>
                <div th:case="12">
                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>房间类型</th>
                            <th>房间号</th>
                            <th>入住时间</th>
                            <th>退房时间</th>
                            <th>当前状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item,status :${orderList}">
                            <td th:text="${status.count}"></td>
                            <td th:text="${item.user.name}"></td>
                            <td th:text="${item.room.type}"></td>
                            <td th:text="${item.room.name}"></td>
                            <td th:text="${#dates.format(item.getStartDate(),'yyyy-MM-dd')}"></td>
                            <td th:text="${#dates.format(item.getEndDate(),'yyyy-MM-dd')}"></td>
                            <td th:text="${item.statusDesc}"></td>
                            <td>
                                <button th:if="${item.status == 1}"
                                        class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect"
                                        th:onclick="|toGoIn(${item.getId()})|">办理入住
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div th:case="22">
                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>房间名</th>
                            <th>房间类型</th>
                            <th>当前状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item,status :${rooms}">
                            <td th:text="${status.count}"></td>
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.type}"></td>
                            <td th:text="${item.clean == 0 ? '需清理' : '不需清理'}"></td>
                            <td>
                                <button th:disabled="${item.clean == 0}"
                                        class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect"
                                        th:onclick="|needClean(${item.getId()})|">标记为需清理
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect"
                                        th:onclick="|deleteRoom(${item.getId()})|">删除房间
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p style="text-align: right; padding-top: 20px">
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect"
                        href="/front/addRoom">添加房间
                        </a>
                    </p>
                    <script type="text/javascript">
                        function needClean(id) {
                            $.post('/front/bj', {id: id}, function (e) {
                                showSnackBar(e);
                                setTimeout(() => location.reload(), 1000);
                            })
                        }

                        function deleteRoom(id) {
                            $.post('/front/deleteRoom', {id: id}, function (e) {
                                showSnackBar(e);
                                setTimeout(() => location.reload(), 1000);
                            })
                        }
                    </script>
                </div>


                <div th:case="3">
                    <form style="padding: 20px" class="demo-card-square mdl-card mdl-shadow--2dp" method="post"
                          th:action="@{/front/extendOrder}" onsubmit="return extendOrder(this)">

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input id="orderId" name="orderId" th:value="${order.id}" type="hidden">
                            <h5>房间类型</h5>
                            <input name="roomType" th:value="${order.room.type}"
                                   class="mdl-textfield__input" type="text" id="sample6" disabled>
                            <label class="mdl-textfield__label" for="sample6"></label>
                            <h5>入住日期</h5>
                            <input name="startDate" th:value="${#dates.format(order.getStartDate(),'yyyy-MM-dd')}"
                                   class="mdl-textfield__input" type="date" id="sample4" disabled>
                            <label class="mdl-textfield__label" for="sample4"></label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <h5>退住日期</h5>
                            <input name="endDate" th:value="${#dates.format(order.getEndDate(),'yyyy-MM-dd')}"
                                   class="mdl-textfield__input" type="date" id="sample30">
                            <label class="mdl-textfield__label" for="sample30"></label>
                        </div>

                        <!-- Primary-colored flat button -->
                        <div class="mdl-card__actions " style="display: flex; justify-content: center">
                            <button type="submit"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                                续 约
                            </button>
                        </div>
                    </form>
                </div>
                <div th:case="4">
                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>登录名</th>
                            <th>姓名</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item,status :${userList}">
                            <td th:text="${status.count}"></td>
                            <td th:text="${item.username}" th:id="'username'+${item.id}"></td>
                            <td th:text="${item.name}"></td>
                            <td>
                                <button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect"
                                        th:onclick="|toUpdate(${item.id})|">修改密码
                                </button>

                                <button class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect"
                                        th:onclick="|toDelete(${item.getId()})|">删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <dialog id="changePwdDlg" class="mdl-dialog">
                        <h4 class="mdl-dialog__title">修改密码</h4>
                        <div class="mdl-dialog__content">
                            <p id="pwdMsg">

                            </p>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="password" id="newpwd">
                                <label class="mdl-textfield__label" for="newpwd">新密码</label>
                            </div>
                        </div>
                        <div class="mdl-dialog__actions">
                            <button type="button" class="mdl-button" onclick="changePwd()">确定</button>
                            <button type="button" class="mdl-button close">取消</button>
                        </div>
                    </dialog>
                    <dialog id="deleteUserDlg" class="mdl-dialog">
                        <h4 class="mdl-dialog__title">删除用户</h4>
                        <div class="mdl-dialog__content">
                            <p id="delMsg">

                            </p>
                        </div>
                        <div class="mdl-dialog__actions">
                            <button type="button" class="mdl-button" onclick="deleteUser()">确定</button>
                            <button type="button" class="mdl-button close">取消</button>
                        </div>
                    </dialog>
                    <script type="text/javascript">
                        var pwdDlg = document.querySelector('#changePwdDlg');
                        if (!pwdDlg.showModal) {
                            dialogPolyfill.registerDialog(pwdDlg);
                        }
                        pwdDlg.querySelector('.close').addEventListener('click', function () {
                            pwdDlg.close();
                        });

                        var delDlg = document.querySelector('#deleteUserDlg');
                        if (!delDlg.showModal) {
                            dialogPolyfill.registerDialog(delDlg);
                        }
                        delDlg.querySelector('.close').addEventListener('click', function () {
                            delDlg.close();
                        });

                        let userId;

                        function changePwd() {
                            let newpwd = document.querySelector('#newpwd').value;
                            console.log('用户' + userId + '新密码' + newpwd);
                            $.ajax({
                                url: '/front/changePwd',
                                type: 'post',
                                data: {
                                    userId: userId,
                                    password: newpwd
                                },
                                success: function (data) {
                                    console.log(data);
                                    if (data === "success") {
                                        showSnackBar("密码更改成功！");
                                        pwdDlg.close();
                                        return;
                                    }
                                    showSnackBar(data);
                                    //document.querySelector("#dlgMsg").innerHTML=data;
                                },
                                error: function (error) {  //请求失败之后，打印错误信息
                                    showSnackBar("请求出错");
                                    console.log(error);
                                }
                            })
                        }

                        function deleteUser() {
                            console.log('删除用户' + userId);
                            $.ajax({
                                url: '/front/deleteUser',
                                type: 'post',
                                data: {
                                    userId: userId
                                },
                                success: function (data) {
                                    console.log(data);
                                    if (data === "success") {
                                        showSnackBar("删除用户成功!");
                                        setTimeout(function () {
                                            location.href = "/front/userManage"
                                        }, 1000);
                                        delDlg.close();
                                        return;
                                    }
                                    showSnackBar(data);
                                    //document.querySelector("#dlgMsg").innerHTML=data;
                                },
                                error: function (error) {  //请求失败之后，打印错误信息
                                    showSnackBar("请求出错");
                                    console.log(error);
                                }
                            })
                        }

                        function toUpdate(uid) {
                            userId = uid;
                            username = document.querySelector('#username' + uid).innerHTML;
                            document.querySelector('#pwdMsg').innerHTML = '正在为用户' + username + '修改密码...';
                            document.querySelector('.mdl-dialog__title').innerHTML = '修改密码';
                            document.querySelector('#newpwd').value = ''
                            pwdDlg.showModal();
                        }

                        function toDelete(uid) {
                            userId = uid;
                            username = document.querySelector('#username' + uid).innerHTML;
                            document.querySelector('.mdl-dialog__title').innerHTML = '删除用户';
                            document.querySelector('#delMsg').innerHTML = '你确认要删除用户' + username + '?';
                            delDlg.showModal();
                        }
                    </script>
                </div>
            </div>

        </div>
    </main>
</div>

<script src="/webjars/jquery/3.2.1/dist/jquery.js"></script>
<script th:src="@{/webjars/material-design-lite/1.3.0/material.min.js}"></script>

<div id="info-snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<script type="text/javascript">

    function showSnackBar(text) {
        new MaterialSnackbar(document.getElementById('info-snackbar')).showSnackbar({
            message: text
        });
    }

    function extendOrder(th) {
        postData = $(th).serialize();
        console.log(postData);
        $.ajax({
            url: '/front/extendOrder',
            type: 'post',
            data: postData,
            success: function (data) {
                console.log(data);
                if (data === "success") {
                    showSnackBar("已成功续约！");
                    setTimeout(function () {
                        location.href = "/front/"
                    }, 1000);
                    return;
                }
                showSnackBar(data);
                //document.querySelector("#dlgMsg").innerHTML=data;
            },
            error: function (error) {  //请求失败之后，打印错误信息
                showSnackBar("请求出错");
                console.log(error);
            }
        })
        return false;
    }

    function removeOrder(orderId) {
        $.ajax({
            url: '/front/removeOrder/' + orderId,
            type: 'get',
            success: function (data) {
                console.log(data);
                if (data === "success") {
                    showSnackBar("取消预约成功！");
                    setTimeout(function () {
                        location.href = "/front/"
                    }, 1000);
                    return;
                }
                //document.querySelector("#dlgMsg").innerHTML=data;
            },
            error: function (error) {  //请求失败之后，打印错误信息
                showSnackBar("请求出错");
                console.log(error);
            }
        })
    }

    function toGoIn(id) {
        location.href = "/front/in/" + id;
    }

    function addOrder(th) {
        postData = $(th).serialize();
        console.log(postData);
        $.ajax({
            url: '/front/addOrder',
            type: 'post',
            data: postData,
            success: function (data) {
                console.log(data);
                if (data === "success") {
                    showSnackBar("已成功添加预约记录！");
                    setTimeout(function () {
                        location.href = "/front/"
                    }, 1000);
                    return;
                }
                showSnackBar(data);
                //document.querySelector("#dlgMsg").innerHTML=data;
            },
            error: function (error) {  //请求失败之后，打印错误信息
                showSnackBar("请求出错");
                console.log(error);
            }
        })
        return false
    }
</script>
</body>
</html>