<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel 服务</title>

    <link rel="stylesheet" th:href="@{/webjars/material-design-lite/1.3.0/material.min.css}"/>

    <style>
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url(/static/mdl/icons.woff2) format('woff2'),
            url(/static/mdl/icons.woff) format('woff');
        }

        body {
            height: 100%;
            width: 100%;
        }

        .wrapper {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .lli {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .lli p {
            margin: 10px;
        }
    </style>
</head>
<body>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"
                  th:text="'Hotel 服务 - '+${curUser.name} + '(' + ${curUser.roleDescCN} + ')'"></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">

            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Hotel 服务</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/manager/addWorker">添加员工</a>
            <a class="mdl-navigation__link" href="/manager/showList">查看员工信息</a>
            <a class="mdl-navigation__link" href="/user/logout">注销</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div th:class="'page-content' + ${tab==0||tab==1?' wrapper':''}">

            <div th:switch="${tab}">
                <h2 th:case="0">欢迎！请打开左侧菜单栏选择具体服务。</h2>
                <div th:case="2" style="    display: flex; justify-content: center;">
                    <form style="padding: 20px" class="demo-card-square mdl-card mdl-shadow--2dp" method="post"
                          th:action="@{/manager/addWorker}" onsubmit="return addWorker(this)">

                        <h5>员工类型</h5>
                        <div class="wrapper lli">
                            <p>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                                    <input type="radio" class="mdl-radio__button"
                                           name="role" value="1" required for="uu1">
                                    <span class="mdl-radio__label" id="uu1">前台</span>
                                </label>
                            </p>
                            <p>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                                    <input type="radio" class="mdl-radio__button"
                                           name="role" value="2" required for="uu2">
                                    <span class="mdl-radio__label" id="uu2">后勤</span>
                                </label>
                            </p>
                            <p>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                                    <input type="radio" class="mdl-radio__button"
                                           name="role" value="3" required for="uu3">
                                    <span class="mdl-radio__label" id="uu3">经理</span>
                                </label>
                            </p>
                        </div>


                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <h5>用户名</h5>
                            <input name="username" class="mdl-textfield__input" type="text" id="sample2" required>
                            <label class="mdl-textfield__label" for="sample2"></label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <h5>密码</h5>
                            <input name="password" class="mdl-textfield__input" type="password" id="sample3" required>
                            <label class="mdl-textfield__label" for="sample3"></label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <h5>员工姓名</h5>
                            <input name="name" class="mdl-textfield__input" type="text" id="sample4" required>
                            <label class="mdl-textfield__label" for="sample4"></label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <h5>电话</h5>
                            <input name="phone" class="mdl-textfield__input" type="text" id="sample9" required>
                            <label class="mdl-textfield__label" for="sample9"></label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <h5>雇佣日期</h5>
                            <input name="hireDate" class="mdl-textfield__input" type="date" id="sample5" required>
                            <label class="mdl-textfield__label" for="sample5"></label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <h5>生日</h5>
                            <input name="birthday" class="mdl-textfield__input" type="date" id="sample6" required>
                            <label class="mdl-textfield__label" for="sample6"></label>
                        </div>

                        <h5>性别</h5>
                        <div class="wrapper lli">
                            <p>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                                    <input type="radio" class="mdl-radio__button"
                                           name="gender" value="0" required for="axn1">
                                    <span class="mdl-radio__label" id="axn1">男</span>
                                </label>
                            </p>
                            <p>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                                    <input type="radio" class="mdl-radio__button"
                                           name="gender" value="1" required for="axn2">
                                    <span class="mdl-radio__label" id="axn2">女</span>
                                </label>
                            </p>
                            <p>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                                    <input type="radio" class="mdl-radio__button"
                                           name="gender" value="2" required for="axn3">
                                    <span class="mdl-radio__label" id="axn3">未知</span>
                                </label>
                            </p>
                        </div>

                        <!-- Primary-colored flat button -->
                        <div class="mdl-card__actions " style="display: flex; justify-content: center">
                            <button type="submit"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                                添 &nbsp; 加
                            </button>
                        </div>
                    </form>
                </div>

                <div th:case="3" style="    display: flex; justify-content: center;">
                    <form style="padding: 20px" class="demo-card-square mdl-card mdl-shadow--2dp" method="post"
                          th:action="'/manager/update/' + ${emp.id}" onsubmit="return updateWorker(this)">

                        <h5>员工类型</h5>
                        <div class="wrapper lli">
                            <p>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                                    <input type="radio" class="mdl-radio__button"
                                           name="role" value="1" required for="uu1" th:checked="${emp.user.role == 1}">
                                    <span class="mdl-radio__label" id="uu1">前台</span>
                                </label>
                            </p>
                            <p>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                                    <input type="radio" class="mdl-radio__button"
                                           name="role" value="2" required for="uu2" th:checked="${emp.user.role == 2}">
                                    <span class="mdl-radio__label" id="uu2">后勤</span>
                                </label>
                            </p>
                            <p>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                                    <input type="radio" class="mdl-radio__button"
                                           name="role" value="3" required for="uu3" th:checked="${emp.user.role == 3}">
                                    <span class="mdl-radio__label" id="uu3">经理</span>
                                </label>
                            </p>
                        </div>


                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <h5>用户名</h5>
                            <input name="username" th:value="${emp.user.username}" class="mdl-textfield__input"
                                   type="text" id="sample2" required>
                            <label class="mdl-textfield__label" for="sample2"></label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <h5>密码(留空不修改)</h5>
                            <input name="password" value="" class="mdl-textfield__input" type="password" id="sample3">
                            <label class="mdl-textfield__label" for="sample3"></label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <h5>员工姓名</h5>
                            <input name="name" th:value="${emp.user.name}" class="mdl-textfield__input" type="text"
                                   id="sample4" required>
                            <label class="mdl-textfield__label" for="sample4"></label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <h5>电话</h5>
                            <input name="phone" th:value="${emp.phone}" class="mdl-textfield__input" type="text"
                                   id="sample9" required>
                            <label class="mdl-textfield__label" for="sample9"></label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <h5>雇佣日期</h5>
                            <input name="hireDate" th:value="${#dates.format(emp.hireDate, 'yyyy-MM-dd')}"
                                   class="mdl-textfield__input" type="date" id="sample5" required>
                            <label class="mdl-textfield__label" for="sample5"></label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <h5>生日</h5>
                            <input name="birthday" th:value="${#dates.format(emp.birthday, 'yyyy-MM-dd')}"
                                   class="mdl-textfield__input" type="date" id="sample6" required>
                            <label class="mdl-textfield__label" for="sample6"></label>
                        </div>

                        <h5>性别</h5>
                        <div class="wrapper lli">
                            <p>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                                    <input type="radio" class="mdl-radio__button"
                                           name="gender" value="0" required for="axn1" th:checked="${emp.gender == 0}">
                                    <span class="mdl-radio__label" id="axn1">男</span>
                                </label>
                            </p>
                            <p>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                                    <input type="radio" class="mdl-radio__button"
                                           name="gender" value="1" required for="axn2" th:checked="${emp.gender == 1}">
                                    <span class="mdl-radio__label" id="axn2">女</span>
                                </label>
                            </p>
                            <p>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
                                    <input type="radio" class="mdl-radio__button"
                                           name="gender" value="2" required for="axn3"
                                           th:checked="${emp.gender != 0 && emp.gender != 1}">
                                    <span class="mdl-radio__label" id="axn3">未知</span>
                                </label>
                            </p>
                        </div>

                        <!-- Primary-colored flat button -->
                        <div class="mdl-card__actions " style="display: flex; justify-content: center">
                            <button type="submit"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                                修 &nbsp; 改
                            </button>
                        </div>
                    </form>
                </div>

                <div th:case="1">
                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>用户名</th>
                            <th>员工类型</th>
                            <th>员工姓名</th>
                            <th>雇佣日期</th>
                            <th>生日</th>
                            <th>性别</th>
                            <th>电话</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item,status :${emps}">
                            <td th:text="${status.count}"></td>
                            <td th:text="${item.user.username}"></td>
                            <td th:text="${item.user.roleDescCN}"></td>
                            <td th:text="${item.user.name}"></td>
                            <td th:text="${#dates.format(item.hireDate,'yyyy-MM-dd')}"></td>
                            <td th:text="${#dates.format(item.birthday,'yyyy-MM-dd')}"></td>
                            <td th:text="${item.genderDesc}"></td>
                            <td th:text="${item.phone}"></td>
                            <td>
                                <button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect"
                                        th:onclick="|toUpdate(${item.getId()})|">更新
                                </button>
                                <button class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect"
                                        th:disabled="${item.userId==curUser.id}"
                                        th:onclick="|toDelete(${item.getId()})|">删除
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </main>
</div>

<script src="/webjars/jquery/3.2.1/dist/jquery.js"></script>
<script th:src="@{/webjars/material-design-lite/1.3.0/material.min.js}"></script>

<div id="info-snackbar" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<script type="text/javascript">

    function showSnackBar(text) {
        new MaterialSnackbar(document.getElementById('info-snackbar')).showSnackbar({
            message: text
        });
    }

    function toDelete(id) {
        $.post('/manager/delete', {id: id}, function (e) {
            if (e == '0') {
                showSnackBar("删除成功");
            } else showSnackBar("遇到错误");
            setTimeout(function () {
                location.href = "/manager/showList";
            }, 1000);
        });
    }

    function addWorker(th) {
        $.ajax({
            url: '/manager/addWorker',
            type: 'post',
            data: $(th).serialize(),
            success: function (data) {
                data = parseInt(data)
                console.log(data);
                if (data == 0) {
                    showSnackBar("添加成功");
                    setTimeout(function () {
                        location.href = "/manager/showList";
                    }, 1000);
                    return;
                }
                showSnackBar([null, '用户名被使用', '姓名为空', '用户名太短', '密码太短'][-data]);
                //document.querySelector("#dlgMsg").innerHTML=data;
            },
            error: function (error) {  //请求失败之后，打印错误信息
                showSnackBar("请求出错");
                console.log(error);
            }
        })
        return false
    }

    function updateWorker(th) {
        $.ajax({
            url: th.getAttribute("action"),
            type: 'post',
            data: $(th).serialize(),
            success: function (data) {
                if (data == "success") {
                    showSnackBar("修改成功");
                    setTimeout(function () {
                        location.href = "/manager/showList";
                    }, 1000);
                    return;
                }
                showSnackBar(data);
                //document.querySelector("#dlgMsg").innerHTML=data;
            },
            error: function (error) {  //请求失败之后，打印错误信息
                showSnackBar("请求出错");
                console.log(error);
            }
        })
        return false
    }

    function toUpdate(id) {
        location.href = "/manager/update/" + id;
    }
</script>
</body>
</html>